@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    animation: scroll 100s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

@keyframes scroll {
    100% {
        background-position: 0px -400%;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 800s linear infinite;
    }
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin-top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.clinica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.custom-select {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-select select {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #555;
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="%23555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 8px;
}

.custom-select select:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.custom-select option[selected] {
    background-color: #ffcc00;
    border-radius: 5px;
    color: #fff;
}

#pacienteInputs,
#tratamientoInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#pacienteInputs input[type="text"],
#tratamientoInputs input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #555;
}

#pacienteInputs input[type="text"]:focus,
#tratamientoInputs input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

button#guardarDatos,
button#guardarDatosTratamiento {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 15px;
    width: 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4F95DA;
    text-align: center;
    margin-left: 120px;
}

button#guardarDatosTratamiento:hover,
button#guardarDatosTratamiento:hover {
    background-color: #3678B5;
}
